nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;


}
nav .brand{
    display: flex;
    align-items: center;
}
/**/
nav .brand img{
    height: 50px;
    border-radius: 50px;
    margin: 0 5px ;
    
    
}
/*style nav bar anchor links*/
nav .brand a{
    color: #fff;
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: bold;
}

nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    align-items: center;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: #ddd;
    padding: 5px;
    position: relative;

}
/*add hover style to  anchor elements*/
nav ul li a:hover{
    color: #fff;
}

/*apply styles to the links that are already in the browser by making use of pseudo class*/
nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: .3s ease-in-out;
    transform-origin: left;
}
/*combining the both pesudo actions (which means when hover on the element then after actions will take place*/
nav ul li a:hover::after{
    transform: scaleX(1);
    
}